# Virtual environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Test/coverage files
.pytest_cache/
.coverage
htmlcov/

# Environment variables / secrets
.env
# created by virtualenv automatically
